<div id ='section'><center><h1>TeamPlatform API - RoR Client</h1></center></div> 
<br/>
<br/>
<div id = 'section'><center><p>Click to Authenticate</p>
	<p><%= link_to image_tag("tp-logo.png", :width => "300", :class =>"tplogin"), tp_index_path%></center></p><div>